@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #f8fafc, #e5e7eb); /* subtle gradient */
  color: #111827;
}